hosts:
{% for host in hosts %}
{% if host != inventory_hostname %}
  - {{ host }} 
{% endif %}
{% endfor %}

async: {{ async }}
offset: {% for host in hosts %}
{% if host == inventory_hostname %}
{{ loop.index0 }}
{% endif %}{% endfor %}

iperf_port: {{ iperf_port }}
iperf_time: {{ iperf_time }}
